.main,
.main1 {
  display: grid;
  margin-top: 15px;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  text-align: center;
  font-size: 20px;
  white-space: wrap;
}

.main {
  padding-bottom: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
}

.main1 {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}
.specsheet {
  white-space: nowrap;
}

.image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image > img {
  width: 280px;
  height: 350px;
}

@media screen and (max-width: 768px) {
  .main,
  .main1 {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 0;
  }

  .main {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .main1 {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .specsheet {
    word-break: break-all;
    width: 90vw;
  }

  .specsheet span {
    white-space: wrap;
  }

  .image {
    padding-top: 0px;
    margin: 0 auto;
  }

  .image > a > img {
    width: 90vw;
    height: 100%;
    object-fit: cover;
  }
}
